<%- include('header') %>

<div class="container" style="width: 80%; margin-top:10%; margin-left: 20%;">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-success">Create course post</h1>
        <a href="/api/course/all" class="btn btn-primary ">Show all courses posts</a>
    </div>

    <form method="POST" action="/api/course/all" enctype="multipart/form-data">

        <div for="name" class="form-group">
            <label>Name</label>
            <input id="name" name="name" class="form-control" placeholder="name" required>
        </div>

        <div class="d-flex mt-4">
            <div class="col-6">
                <div for="titleWhat_1" class="form-group">
                    <label>titleWhat_1</label>
                    <textarea name="titleWhat_1" id="titleWhat_1" class="form-control"></textarea>
                </div>

                <div for="title_1" class="form-group">
                    <label>title_1</label>
                    <textarea name="title_1" id="title_1" class="form-control"></textarea>
                </div>

                <div for="content_1" class="form-group">
                    <label>content_1</label>
                    <textarea name="content_1" id="content_1" class="form-control"></textarea>
                </div>
            </div>

            <div class="col-6">
                <div for="titleWhat_2" class="form-group">
                    <label>titleWhat_2</label>
                    <textarea name="titleWhat_2" id="titleWhat_2" class="form-control"></textarea>
                </div>

                <div for="title_2" class="form-group">
                    <label>title_2</label>
                    <textarea name="title_2" id="title_2" class="form-control"></textarea>
                </div>

                <div for="content_2" class="form-group">
                    <label>content_2</label>
                    <textarea name="content_2" id="content_2" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="m-4 d-flex">
            <div>
                <label for="photo">Photo</label>
                <input type="file" id="photo" name="photo">
            </div>

            <div>
                <label for="photo">Photo_1</label>
                <input type="file" id="photo_1" name="photo_1">
            </div>

            <div>
                <label for="photo">Photo_2</label>
                <input type="file" id="photo_2" name="photo_2">
            </div>
        </div>

        <div class="d-flex mb-4">
            <div for="during" class="col-3">
                <label>during</label>
                <textarea name="during" id="during" class="form-control"></textarea>
            </div>
            <div for="time" class="col-3">
                <label>time</label>
                <textarea name="time" id="time" class="form-control"></textarea>
            </div>
            <div for="days" class="col-3">
                <label>days</label>
                <textarea name="days" id="days" class="form-control"></textarea>
            </div>
            <div for="price" class="col-3">
                <label>price</label>
                <textarea name="price" id="price" class="form-control"></textarea>
            </div>
        </div>

        <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>
</div>



<%- include('footer') %>