<%- include('header') %>

<div class="container" style="width: 80%; margin-top:10%; margin-left: 20%;">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-success">Create news post</h1>
        <a href="/admin/news/All" class="btn btn-primary ">Show all news posts</a>
    </div>

    <form method="POST" action="/admin/news/All" enctype="multipart/form-data">

        <!-- <button class="btn btn-success mt-5 mb-2" data-toggle="modal" data-target="#myModal">
            Upload image
        </button><br> -->

        <input type="file" name="file">

        <div for="title" class="form-group">
            <label>Title</label>
            <input id="title" name="title" class="form-control" placeholder="title" required>
        </div>

        <div for="title" class="form-group">
            <label>Content</label>
            <textarea name="content" id="content" class="form-control"></textarea>
        </div>

        <div for="date" class="form-group">
            <label>Sanani kiriting (for example:15-aug 2020)</label>
            <textarea id="date" name="date" class="form-control" placeholder="date"></textarea>
        </div>
        <div class="container">
        </div>

        <input type="submit" class="btn btn-success" value="Post">
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>

            <form action="/admin/news/upload" method="POST" enctype="multipart/form-data" id="upload">
                <div class="modal-body">
                    <div class="file-field input-field">
                        <div class="btn grey">
                            <input type="file" name="file" id="file">
                        </div>
                    </div>
                </div>
                <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>

                    <input type="submit" class="btn btn-success" value="Rasmni saqlash" />
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->




<%- include('footer') %>