* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "GT Eesti Pro Text Book";
    src: url("/Fonts/Gt\ Eesti\ Pro\ Book/@font-face/435d667718407271e1ae7a0269b6e1bd.ttf");
}

body {
    font-family: GT Eesti Pro Text Book;
    background-image: url('../../SVG/idrok-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    color: #001607;
}

/* Top_menu////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.top_container {
    width: 100%;
    display: flex;
    position: absolute;
    background-color: #fff;
    top: -100vh;
    z-index: 20;
    transition: 1s ease-in-out;
}

.top_transform {
    top: 0;
}

.top_left {
    width: 60vw;
    height: 100vh;
    display: flex;
}

.top_logo img {
    width: 4vw;
    height: 2.5vw;
    object-fit: contain;
    position: absolute;
    top: 2.5vw;
    left: 3vw;
}

.top_left_text_box {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_left_text {
    height: 25vw;
    margin-top: 5vw;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.office_top_title {
    color: #086420;
    font-weight: bold;
    margin-bottom: .5vw;
}

.office_top_body {
    color: #001607;
    font-weight: 600;
    line-height: 1.5;
}

.phone_top_body a{
    text-decoration: none;
    color: unset;
}


li {
    list-style: none;
}

.social_img {
    display: flex;
    margin-top: 3vw;
}

.social_media img {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
    transition: .5s;
}

.social_media img:hover {
    transform: scale(1.2);
}

.image {
    width: 60%;
    height: 100vh;
    background: url('../../images/top\ menu\ background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.image img {
    width: 40vw;
    height: 100vh;
}

.top_right {
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #052D19;
    line-height: 2;
}

.top_right_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vw;
}

.top_link {
    text-decoration: none;
    color: #7F8B82;
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    transition: .5s;
}

.top_link:hover {
    color: #fff;
}

.top_link::before,
.top_link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7F8B82;
    position: absolute;
    left: 0;
    transform: scale(0);
    transition: transform 0.5s;
}

.top_link::after {
    bottom: 0;
    transform-origin: right;
}

.top_link::before {
    top: 0;
    transform-origin: left;
}

.top_link:hover::before,
.top_link:hover::after {
    transform: scale(1);
}



/* header /////////////////////////////////////////////////////////////////////*/
header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 50px;
}

.logo {
    width: 54.3px;
    height: 40px;
}

.logo:hover {
    cursor: pointer;
}

.menu_btn {
    justify-self: end;
    align-self: end;
    height: 22.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.menu_btn:hover {
    cursor: pointer;
}

.burger1 {
    width: 14px;
    height: 3px;
    background-color: #086420;
    border-radius: 4px;
    margin-left: 7px;
    transition: .5s ease-out;
}

.burger2 {
    width: 22.8px;
    height: 3px;
    background-color: #086420;
    border-radius: 4px;
    transition: .5s ease-out;
}

.burger3 {
    width: 14px;
    height: 3px;
    background-color: #086420;
    border-radius: 4px;
    margin-left: 2px;
    transition: .5s ease-out;
}

.open .burger2 {
    transform: translateX(-25px);
    background: transparent;
}

.open .burger1 {
    transform: rotate(45deg) translateY(10px) translateX(1px);
    width: 23px;
}

.open .burger3 {
    transform: rotate(-45deg) translateY(-10px) translateX(7px);
    width: 23px;
}


/* Container ///////////////////////////////////////////////////////////////////////////////////////// */
.container {
    margin: 100px 0 150px 0;
    display: grid;
    grid-template-columns: 8.5% 20% auto 8.5%;
    grid-template-areas:
        '. head_text  wrapper .'
        '. .   wrapper .';
    max-height: 70vh;
}

.head_text_box {
    grid-area: head_text;
}

.head_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
}

.head_text_box h2 {
    font-size: 28px;
}

.head_text p {
    font-size: 14px;
    color: #CCD0CC;
}

.head_text_box a {
    color: #086420;
}

.container_wrapper {
    grid-area: wrapper;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    width: 100vh;
}

.container_wrapper::-webkit-scrollbar {
    display: none;
}

.content {
    grid-area: content;
    display: flex;
    overflow-x: auto;
    height: 63vw;
    width: 125vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.content::-webkit-scrollbar {
    display: none;
}

.mob_content {
    display: none;
}

.image_box img {
    width: 30vw;
    height: 27vw;
    object-fit: cover;
}

.text_box {
    display: flex;
}

.text {
    grid-area: text;
    width: 30vw;
    margin: 0 0 20px 25px;
    font-size: 14px;
    line-height: 2;
    max-height: 31vw;
    overflow: hidden;
}

/* .text1 {
    margin-top: 20px;
    
} */

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    position: relative;
    animation: scroll_right 1s infinite;
    transform: rotate(180deg);
}

footer img {
    width: 33px;
    height: 33px;
    transform: rotate(90deg);
}

.mob_footer {
    display: none;
}

.to_top, .to_top img{
    display: none;
}

/* responsive/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 1500px) {

    .top_link,
    .head_text_box h2 {
        font-size: 40px;
    }

    .top_left_text{
        font-size: 18px;
    }

    .head_text p {
        font-size: 14px;
    }

    .text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-size: contain;
    }

    .container {
        overflow: hidden;
        margin-right: 9vw;
    }

    .content {
        height: 100vw;
        width: 170vw;
    }

    .text {
        margin-top: 0;
    }

}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: 8.5% auto auto 8.5%;
        grid-template-areas:
            '. head_text .'
            '. mob_content .'
    }

    .top_left_text_box {
        display: none;
    }

    .image {
        width: 100%;
    }

    .top_right {
        width: 60vw;
    }

    .logo {
        width: 35px;
        height: 25px;
    }

    .menu_btn {
        height: 12px;
    }

    .burger1 {
        width: 7px;
        height: 2px;
        margin-left: 4px;
    }

    .burger2 {
        width: 13px;
        height: 2px;
    }

    .burger3 {
        width: 7px;
        height: 2px;
        margin-left: 1px;
    }

    .open .burger2 {
        transform: translateX(-10px);
        background: transparent;
    }

    .open .burger1 {
        transform: rotate(45deg) translateY(2px) translateX(3px);
        width: 10px;
    }

    .open .burger3 {
        transform: rotate(-45deg) translateY(-2px) translateX(7px);
        width: 10px;
    }

    .container_wrapper {
        display: none;
    }

    .mob_content {
        grid-area: mob_content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20vh;
    }

    .head_text_box h2 {
        font-size: 22px;
    }

    .image_box img {
        width: 83vw;
        height: 59vw;
    }

    .mob_text {
        width: 80vw;
        margin: 0;
        margin-top: 20px;
        word-spacing: 2;
        line-height: 2;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 33px;
        height: 64px;
        margin-top: 85vh;
        margin-left: 1vw;
        position: fixed;
        animation: scroll_down 1s infinite;
    }

    footer img {
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
    }

    .to_top {
        width: 30px;
        height: 30px;
        margin: 10px;
        margin-bottom: 20px;
        background-color: #052D19;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5vw;
        cursor: pointer;
        transition: .3s;
    }

    .to_top:hover {
        background-color: #087740;
    }

    .to_top img {
        display: block;
        width: 25px;
        height: 25px;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 500px) {
    body {
        background-size: contain;
        background-attachment: fixed;
    }

    .container {
        grid-template-columns: 8.5% auto 8.5%;
        grid-template-areas:
            '. head_text .'
            '. content .';
    }

    .top_left {
        display: none;
    }

    .top_right {
        width: 100vw;
    }

    .logo{
        z-index: 200;
    }

    .mob_head_text_box h2 {
        font-size: 24px;
    }

    .image_box img {
        width: 78vw;
        height: 70vw;
    }

    .mob_text_box {
        display: flex;
        flex-direction: column;
    }

    .mob_text {
        margin-left: 0;
        width: 78vw;
        height: auto;
    }

    .image_text_box_header {
        font-size: 18px;
    }
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
@keyframes scroll_right {
    0% {
        left: 0;
    }

    20% {
        left: 4px;
        opacity: 0.8;
    }

    40% {
        left: 8px;
        opacity: 0.6;
    }

    50% {
        left: 10px;
        opacity: 0.5;
    }

    60% {
        left: 8px;
        opacity: 0.6;
    }

    80% {
        left: 4px;
        opacity: 0.8;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@keyframes scroll_down {
    0% {
        top: 0;
    }

    20% {
        top: 4px;
        opacity: 0.8;
    }

    40% {
        top: 8px;
        opacity: 0.6;
    }

    50% {
        top: 10px;
        opacity: 0.5;
    }

    60% {
        top: 8px;
        opacity: 0.6;
    }

    80% {
        top: 4px;
        opacity: 0.8;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}