<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biz haqimizda</title>
    <link rel="shortcut icon" href="/SVG/logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header_box">
            <a href="/"> <img class="logo" src="../SVG/logo.svg" alt="idrok talim logo" data-aos="fade-in"
                    data-aos-duration="1500"></a>
            <div class="menu_btn" id="btn_menu" data-aos="fade-in" data-aos-duration="1500">
                <div class="burger1"></div>
                <div class="burger2"></div>
                <div class="burger3"></div>
            </div>
        </div>
        <h1 data-aos="fade-up" data-aos-duration="1500">Biz dunyo sevadigan brendlarni yaratamiz.</h1>
    </header>

    <!-- Top container -->
    <%- include('top_menu') %>

    <section class="who_are_we">
        <div class="who_text_box" data-aos="fade-up" data-aos-duration="1500">
            <p class="who_title">Biz kimmiz?</p>
            <p class="who_body">
                Biz Idrok jamoasi O'zbekistonda, xorijiy yangicha yo'nalishda o'quv kurslarini yo'lga qo'ydik. Bizning
                kurslarimizda barcha yoshdagi insonlar ta'lim olishlari mumkin.Bizni tajribali mentorlar va
                marketologlarimiz orqali sifatli bilim egasi bo'ling</p>
        </div>
    </section>


    <section class="gallery">
        <div class="gallery_text_box">
            <p class="gallery_title" data-aos="fade-up" data-aos-duration="1500">Galereya</p>
            <p class="gallery_body" data-aos="fade-up" data-aos-duration="1500">
                Bizning ofislarimiz tajribaviy va funksionaldir, hatto biz aqlli dizayn yechimlarini
                birlashtiramiz.Bizning o'quv markazimizga keling va biz bilan ichki dunyoyingizni o'zgartiring.
            </p>
        </div>

        <div class="swiper-container1 gallery_images" data-aos="fade-up" data-aos-duration="1500">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/MLF_2017_CowperSt-00188.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/02MLF2017_Randwick-00012.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/MLF_2017_CowperSt-00188.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/02MLF2017_Randwick-00012.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/images/MLF_2017_CowperSt-00188.png" alt="">
                </div>
            </div>
        </div>


        <div class="gallery_bottom_border"></div>
    </section>


    <section class="our_course" data-aos="fade-up" data-aos-duration="1500">
        <div class="our_course_text_box">
            <p class="our_course_title">Bizning kurslar</p>
            <p class="our_course_body">
                Bizning o'quv markazda robototexnika, web dasturlash, android dasturlash, grafik dizayn, smm, marketing
                sohasi bo'yicha o'quv kurslari tashkil qilingan.
            </p>
        </div>
    </section>


    <section class="All_course">
        <div class="all_left">
            <div class="all_left_text_box" data-aos="fade-up" data-aos-duration="1500">
                <p class="all_left_title">Barcha kurslar</p>
                <ul class="all_left_body" data-aos="fade-up" data-aos-duration="1500">
                    <li id="Ui_design">UI/UX dizayn</li>
                    <li>Mobil dizayn</li>
                    <li>Web dizayn</li>
                </ul>
                <ul class="all_left_body" data-aos="fade-up" data-aos-duration="1500">
                    <li>Android</li>
                    <li>Flutter</li>
                    <li>IOS</li>
                </ul>
                <ul class="all_left_body" data-aos="fade-up" data-aos-duration="1500">
                    <li>English</li>
                    <li>Arabic</li>
                </ul>
            </div>
        </div>


        <div class="all_right">
            <div class="all_right_text_box" data-aos="fade-up" data-aos-duration="1500">
                <div class="all_right_title" data-aos="fade-up" data-aos-duration="1500">
                    - Grafik dizayner - Rassom bo'lishi kerakmi?

                    - Unchalikmas. Lekin, yahshi chiza olsa bu fazilat! Gap shundaki hammada har xil qobilyat bo'ladi.
                    Men taniganlarim bor... Qalam ushlashda ancha no'noq, lekin, qo'liga sichqoncha ushlatib qo'ysangiz
                    odam aqli bovar qilmas fantaziyalar qilishadi...

                </div>
                <div class="all_right_body" data-aos="fade-up" data-aos-duration="1500">
                    <li>Adobe Photoshop</li>
                    <li>Adobe XD</li>
                    <li>Figma</li>
                </div>
                <a class="read_more" href="/course_link" data-aos="fade-up" data-aos-duration="1500">KO'PROQ O'QING</a>
            </div>
        </div>
    </section>


    <section class="team">
        <div class="team_text_box" data-aos="fade-up" data-aos-duration="1500">
            <p class="team_title">Jamoa</p>
            <p class="team_body">
                Biz loyihalarni qo'llab-quvvatlash uchun fikrlarni g'oyalarga aylantiradigan ijodiy jamoamiz.
            </p>
        </div>

        <div class=" swiper-container2 team_images_box" data-aos="fade-up" data-aos-duration="1500">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 2.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 3.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 4.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 5.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 2.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 3.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 4.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team_image">
                        <img src="/images/Image 5.png" alt="">
                        <div class="image_text">
                            <p class="image_title">Jonatan Smith</p>
                            <p class="image_body">UI/UX DIZAYNER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team_bottom_border"></div>
    </section>


    <section class="location">
        <div class="location_text" data-aos="fade-up" data-aos-duration="1500">
            <div class="location_elem">
                <h1 data-aos="fade-up" data-aos-duration="1500">Biz bilan bog'laning</h1>
                <p data-aos="fade-up" data-aos-duration="1500">Biz sizni hayajonli arxitektura va ichki dizayn dunyosiga
                    olib kirishga tayyormiz.</p>
                <form action="/contact_link">
                    <button data-aos="fade-up" data-aos-duration="1500">Biz bilan aloqa</button>
                </form>
            </div>
        </div>

        <div class="location_map" data-aos="fade-up" data-aos-duration="1500">
            <img src="/SVG/map-hover.svg" alt="">
            <div class="location_icon_box">
                <p>Olmazor tumani</p>
                <img src="/SVG/LOCATION.svg" alt="" class="location_icon">
            </div>
            <div class="location_map_text">
                <p>2B Beruniy shoh ko'chasi,</p>
                <p>Olmazor t, Toshkent</p>
            </div>
        </div>
    </section>

    <!-- footer -->
    <%- include('footer') %>

    <section class="scroll">
        <img src="../SVG/scroll icon.svg" alt="">
    </section>

    <section class="to_top" id="myBtn" onclick="topFunction()">
        <img src="../SVG/arrow-up-s-line.svg" alt="">
    </section>

</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src='/javascript/about.js'></script>

</html>