<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aloqa va ma'lumot uchun</title>
    <link rel="shortcut icon" href="/SVG/logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/SVG/logo-_2_.png" alt="idrok talim logo"></a>
        <div class="menu_btn" id="btn_menu">
            <div class="burger1"></div>
            <div class="burger2"></div>
            <div class="burger3"></div>
        </div>
    </header>


    <section class="container">
        <div class="container_left">
            <div class="top_left_text container_left_text">
                <h1>Get in touch</h1>
                <div class="office_top">
                    <p class="office_top_title">Ofis</p>
                    <ul class="office_top_body">
                        <li>O'zbekiston</li>
                        <li>Beruniy shox ko'chasi 2B,</li>
                        <li>Olmazor t, Toshkent</li>
                    </ul>
                </div>

                <div class="phone_top">
                    <p class="phone_top_title office_top_title">Umumiy ma'lumot</p>
                    <p class="phone_top_body office_top_body phone_top_body"><a href="tel:+998946786557">+998 94 678 65
                            57</a></p>
                    <a class="phone_top_body office_top_body" href="#wqe">idrok@gmail.com</a>
                </div>

                <div class="email_top">
                    <p class="email_top_title office_top_title">Kurslar haqida ma'lumot oling</p>
                    <p class="email_top_body office_top_body">Hamidov Abdulaziz</p>
                    <p class="email_top_body office_top_body phone_top_body"><a href="tel:+998993739909">+998 99 373 99 09</a></p>
                </div>

                <div class="social_media">
                    <a href="https://www.instagram.com/idroktalim" target="_blank"><img
                            src="../SVG/instagram-line (1).svg" alt=""></a>
                    <a href="https://www.facebook.com/idrok.talim1" target="_blank"> <img
                            src="../SVG/facebook-box-line.svg" alt=""></a>
                    <a href="https://t.me/idroktalim" target="_blank"><img src="../SVG/telegram-line (1).svg"
                            alt=""></a>
                </div>
            </div>
        </div>

        <div class="container_right"></div>
    </section>

    <!-- Top container -->
    <%- include('top_menu') %>

    <!-- footer -->
    <%- include('footer') %>

</body>

<script src="/javascript/contact.js"></script>

</html>