<footer>
    <section class="foot_container">
        <div class="foot_first_part">
            <div class="foot_first_text">
                <div class="office">
                    <p class="office_title" data-aos="fade-up" data-aos-duration="1000">Ofis</p>
                    <div class="office_body" data-aos="fade-up" data-aos-duration="1000">
                        <li>O'zbekiston</li>
                        <li> Beruniy shoh ko'chasi 2B,</li>
                        <li>Olmazor t, Toshkent</li>
                    </div>
                </div>

                <div class="contact" data-aos="fade-up" data-aos-duration="1000">
                    <p class="contact_title" data-aos="fade-up" data-aos-duration="1000">Kontakt</p>
                    <div class="contact_body" data-aos="fade-up" data-aos-duration="1000">
                        <li class="phone_top_body"><a href="tel:+998946786557">+998 94 678 65 57</a></li>
                        <li>idrok@gmail.com</li>
                    </div>
                </div>
            </div>
            <div class="border" data-aos="fade-up" data-aos-duration="1000"></div>
        </div>

        <div class="foot_second_part">
            <div class="foot_second_text">
                <div class="menu">
                    <p class="menu_title" data-aos="fade-up" data-aos-duration="1000">Menyu</p>
                    <div class="menu_body" data-aos="fade-up" data-aos-duration="1000">
                        <a href="/">
                            <li>Bosh ouna</li>
                        </a>
                        <a href="/news">
                            <li>Yangiliklar</li>
                        </a>
                        <a href="/Course">
                            <li>Kurslar</li>
                        </a>
                        <a href="/About">
                            <li>BIz haqimizda</li>
                        </a>
                        <a href="/Contact">
                            <li>Bog'lanish</li>
                        </a>
                    </div>
                </div>

                <div class="social">
                    <p class="social_title" data-aos="fade-up" data-aos-duration="1000">Ijtimoiy tarmoqlar</p>
                    <div class="social_body" data-aos="fade-up" data-aos-duration="1000">

                        <a href="https://www.instagram.com/idroktalim" target="_blank">
                            <li>Instagram</li>
                        </a>
                        <a href="https://t.me/idroktalim" target="_blank">
                            <li>Telegram</li>
                        </a>
                        <a href="https://www.facebook.com/idrok.talim1" target="_blank">
                            <li>Facebook</li>
                        </a>
                        <a href="https://www.behance.net/" target="_blank">
                            <li>Behance</li>
                        </a>
                        <a href="https://dribbble.com/" target="_blank">
                            <li>Dribbble</li>
                        </a>

                    </div>
                </div>
            </div>

            <form class="email" action="/contact_link">
                <label class="email_title" for="email_input" data-aos="fade-up" data-aos-duration="1000">Yangiliklarga obuna bo'ling</label>
                <div class="email_input_box" data-aos="fade-up" data-aos-duration="1000">
                    <input id="email_input" type="email" placeholder="Email address">
                    <button> <img src="/SVG/arrow_email.svg" alt=""></button>
                </div>
            </form>
        </div>
    </section>
</footer>