<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idrok ta'lim </title>
    <link rel="shortcut icon" href="../SVG/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <img class="logo" src="../SVG/logo-_2_.png" alt="idrok talim logo">
        <div class="menu_btn" id="btn_menu">
            <div class="burger1"></div>
            <div class="burger2"></div>
            <div class="burger3"></div>
        </div>
    </header>

    <div id="fullpage">
        <section class="section container s1">
            <div class="container_left">
                <div class="top_left_text container_left_text">
                    <p>HOME</p>
                    <h1>Difficult to keep the sense of wonder.</h1>
                </div>
            </div>
            <div class="container_right container_right_1">
            </div>
            <section class="scroll">
                <img src="../SVG/scroll icon.svg" alt="">
            </section>
        </section>

        <section class="section s2">
            <div class="container_left">
                <div class="top_left_text container_left_text">
                    <p>HOME</p>
                    <h1>Difficult to keep the sense of wonder.</h1>
                </div>
            </div>
            <div class="container_right container_right_2">
            </div>
        </section>

        <section class="section s3">
            <div class="container_left">
                <div class="top_left_text container_left_text">
                    <p>HOME</p>
                    <h1>Difficult to keep the sense of wonder.</h1>
                </div>
            </div>
            <div class="container_right container_right_3">
            </div>
        </section>
    </div>

<!-- top container -->
    <%- include('top_menu') %> 
    
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/javascript/home.js"></script>
<script>
</script>

</html>