<div class="top_container">
    <section class="top_left">
        <div class="top_left_text_box">
            <div class="top_logo">
                <a href="/"><img src="/SVG/logo-_2_.png" alt="idrok talim logo"></a>
            </div>
            <div class="top_left_text">
                <div class="office_top">
                    <p class="office_top_title">Ofis</p>
                    <ul class="office_top_body">
                        <li>O'zbekiston</li>
                        <li>Beruniy shox ko'chasi 2B,</li>
                        <li>Olmazor t, Toshkent</li>
                    </ul>
                </div>

                <div class="phone_top">
                    <p class="phone_top_title office_top_title">Telefon</p>
                    <p class="phone_top_body office_top_body"><a href="tel:+998993939909">+998 99 373 99 09</a></p>
                </div>

                <div class="email_top">
                    <p class="email_top_title office_top_title">Email</p>
                    <p class="email_top_body office_top_body">idrok@gmail.com</p>
                </div>

                <div class="social_media">
                    <a href="https://www.instagram.com/idroktalim" target="_blank"><img
                            src="../SVG/instagram-line (1).svg" alt=""></a>
                    <a href="https://www.facebook.com/idrok.talim1" target="_blank"> <img
                            src="../SVG/facebook-box-line.svg" alt=""></a>
                    <a href="https://t.me/idroktalim" target="_blank"><img src="/SVG/telegram-line (1).svg" alt=""></a>
                </div>
            </div>
        </div>

        <div class="image"> </div>
    </section>

    <section class="top_right">
        <div class="top_right_box">
            <a class="top_link" href="/">Bosh oyna</a>
            <a class="top_link" href="/news">Yangiliklar</a>
            <a class="top_link" href="/course">Kurslar</a>
            <a class="top_link" href="/about">Biz haqimizda</a>
            <a class="top_link" href="/contact">Bog'lanish</a>
        </div>
    </section>
</div>